#bottom-bar-container {
    background-color: rgba(163, 163, 163, 0.5);
    position: absolute;
    z-index: 2147483647;
    align-items: center;
    border-radius: 10px;
    bottom:2px;
    width: auto;
}

.bottom-bar-item {
    width: 40px;
    height: 40px;
    margin: 5px;
    display: inline-block;
    border-radius: 10px;
    font-size: 160%;
    cursor: pointer;
}

.bottom-bar-tooltip {
    display: inline-block;
}

.bottom-bar-tooltip .bottom-bar-tooltiptext {
    visibility: hidden;
    position: absolute;
    bottom: 4vw;
    font-size: 14px;
}

.bottom-bar-tooltip:hover .bottom-bar-tooltiptext {
    visibility: visible;
}