#bottom-bar-container {
    background-color: rgba(163, 163, 163, 0.5);
    position: absolute;
    z-index: 2147483647;
    bottom: 2px;
    align-items: center;
    border-radius: 2vh;
}

.bottom-bar-item {
    width: 3vw;
    height: 3vw;
    margin: 0.5vw;
    display: inline-block;
    border-radius: 1.5vh;
    font-size: 1.7vw;
    cursor: pointer;
}

.bottom-bar-tooltip {
    display: inline-block;
}

.bottom-bar-tooltip .bottom-bar-tooltiptext {
    visibility: hidden;
    position: absolute;
    bottom: 4vw;
    font-size: 14px;
}

.bottom-bar-tooltip:hover .bottom-bar-tooltiptext {
    visibility: visible;
}