.window {
  position: absolute;
  border-radius: 5px;
  overflow: hidden;
}

.window-header {
  padding: 0.5vw;
  display: flex;
  height: 4vh;
  cursor: default;
}

.window-header-close {
  background-color: rgb(255, 96, 92);
  height: 1vw;
  width: 1vw;
  border-radius: 2vh;
  cursor: pointer;
  font-size: 8px;
  text-align: center;
}

.window-header-close-icon {
  display: none;
}

.window-header-close:hover .window-header-close-icon{
  display: contents;
}

.window-header-minimize {
  background-color: rgb(255, 189, 68);
  height: 1vw;
  width: 1vw;
  border-radius: 2vh;
  cursor: pointer;
  font-size: 8px;
  text-align: center;
}

.window-header-minimize-icon {
  display: none;
}

.window-header-minimize:hover .window-header-minimize-icon{
  display: contents;
}

.window-header-maximize {
  background-color: rgb(0, 202, 78);
  height: 1vw;
  width: 1vw;
  border-radius: 2vh;
  cursor: pointer;
  font-size: 8px;
  text-align: center;
  padding-bottom: 0.5px;
}

.window-header-maximize-icon {
  display: none;
}

.window-header-maximize:hover .window-header-maximize-icon{
  display: contents;
}

.window-header-title {
  height: 2vh;
  font-size: 12px;
  text-align: center;
  flex-grow: 100;
}


.tech-tag:before {
  content: " "; 
  display: block; 
  width: 0; 
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid red;
  position: absolute;
  top: 50%;
  /* margin-top: -9px;  */
    transform: translateY(-50%);
  right: 100%;
  z-index: 2; 
}

.tech-tag {
  margin-left: 15px;
  background-color: red;
  text-decoration: none; 
  text-transform: uppercase;
  padding: 1px 4px 1px 2px;
  position: relative; 
  display: block;
  float: left;
  position:relative;
  font-size: 10px;
  height: 16px;
}
